<div class="hero-section">
  <div class="particles-bg">
    <span class="dot"></span>
  </div>

  <div class="content-wrapper">
    <div class="content">
      <h1 class="gradient-text">Akashthina Raman</h1>
      <p class="subtitle">Frontend Developer crafting extraordinary digital experiences with cutting-edge technologies
      </p>
      <!-- component.html -->
      <button type="button" class="cta-btn" (click)="projects()">View My Work</button>

    </div>

    <div class="social-links">
      <a href="https://github.com/AkashThina" class="social-link"><i class="fab fa-github"></i></a>
      <!-- <a href="#" class="social-link"><i class="fab fa-linkedin"></i></a> -->
      <a href="mailto:akashthina567@gmail.com" class="social-link"><i class="fa-solid fa-envelope"></i></a>
      <a href="https://wa.me/919123568355?text=Welcome" class="social-link"><i class="fab fa-whatsapp"></i></a>
      <a href="https://instagram.com/__akashthina__" class="social-link"><i class="fab fa-instagram"></i></a>
    </div>
  </div>
</div>